<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Know Your Pills</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
    <link rel="stylesheet" href="public/css/main.css" />
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
  </head>
  <body>
    <div id="app" v-cloak>
      <div class="level is-mobile navigation">
        <div class="level-item">
          <a href="help.html">Help</a>
        </div>
        <div class="level-item" v-if="status == 'upcoming' || status == 'due'">
          <a href="dashboard.html">
            <img class="logo" src="public/assets/Logo.png" alt="logo">
          </a>
        </div>
        <div class="level-item">
          <a href="settings.html">Settings</a>
        </div>
      </div>
      <div class="section">
        <img v-if="status == 'default'" class="logo" src="public/assets/Logo.png" alt="logo">
        <p v-if="status == 'upcoming'">Coming up...</p>
        <p v-if="status == 'due'"><em>It's time!</em></p>
        <div class="pill-data" v-if="status == 'upcoming' || status == 'due'">
          <img src="public/assets/GNClogo.png" alt="GNC">
          <p>GNC Triple Strength Fish Oil<span>1 Capsule</span>with dinner tonight</p>
        </div>
        <button v-if="status == 'due'" @click="complete">Complete<i :class="completeIcon" aria-hidden="true"></i></button>
      </div>
      <a href="scan.html">
        <div class="scan has-text-centered">
          Scan
        </div>
      </a>
      <div class="columns is-mobile is-gapless">
        <a href="reminders.html" class="column is-half">
          <div class="reminders has-text-centered">
            Reminders
          </div>
        </a>
        <a href="history.html" class="column is-half">
          <div class="history has-text-centered">
            History
          </div>
        </a>
      </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        status: 'default',
        completeIcon: 'fa fa-square-o'
      },
      methods: {
        complete: function () {
          if (this.completeIcon === 'fa fa-check-square-o') {
            this.completeIcon = 'fa fa-square-o'
          } else {
            this.completeIcon = 'fa fa-check-square-o'
          }
        }
      }
    })

    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyAUjoyrSiM2dWgqj5rcMYARG3PC46v3Gwk",
      authDomain: "knowyourpills.firebaseapp.com",
      databaseURL: "https://knowyourpills.firebaseio.com",
      projectId: "knowyourpills",
      storageBucket: "knowyourpills.appspot.com",
      messagingSenderId: "562459622714"
    }
    firebase.initializeApp(config)

    firebase.database().ref('status').on('value', function (snapshot) {
      app.$data.status = snapshot.val()
    })
    </script>
  </body>
</html>
