body {
  font-family: 'Lato', sans-serif;
  background-color: #1c3754;
  color: white;
}

.title {
  color: white;
}

.logo {
  width: 70px;
  padding-left: 20px;
}

.navigation * {
  font-size: 1.15em;
  color: #ffe57f;
}

.level.is-mobile .level-item {
  margin-right: 0;
}

.section {
  font-size: 1.2em;
  line-height: 2em;
}

.section p {
  margin: 10px auto;
}

.section span {
  display: block;
  font-size: 3em;
  line-height: 2em;
}

.section button {
  font-size: 2em;
  color: white;
}

.section .logo {
  margin: 65px 0 65px 50px;
  width: 300px;
  height: 200px;
}

.scan {
  background-color: #c45d28;
  height: 120px;
  font-size: 2.5em;
  padding-top: 25px;
}

.reminders {
  background-color: #5cc8e4;
  height: 120px;
}

.history {
  background-color: #54677c;
  height: 120px;
}

.reminders, .history {
  padding-top: 35px;
  font-size: 2em;
}

.scan, .reminders, .history {
  color: white;
}

.banner {
  background-color: #52d93d;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;

  /* animation parameters */
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -ms-animation-delay: 2s;
  -o-animation-delay: 2s;
}

.item-found {
  color: white;
  background-color: #1c3754;
}

.result-body {
  padding-top: 60px;
}

.amount {
  font-size: 3em;
  font-weight: bold;
}

.name {
  font-size: 1.3em;
}

.special-instr {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 20px;
}

.create-reminder button {
  font-size: 2em;
  color: white;
  background-color: #5cc8e4;
  border-width: 0;
  border-radius: 20px;
  width: 75%;
  height: 70px;
}

.create-reminder button:disabled {
  background-color: transparent;
}

.create-reminder {
  margin: 40px 0;
}

.more-info {
  background-color: #7f7f7f;
  color: #ffe57f;
  border-width: 0;
  border-radius: 10px;
}

.error-body {
  height: 340px;
  padding: 100px 0;
}

[v-cloak] {
  display: none;
}
