body {
  font-family: 'Lato', sans-serif;
  background-color: #c45d28;
  color: #ffe57f;
  height: 100vh;
}

a {
  color: white;
  font-size: 2em;
}

h1 span {
  display: block;
  font-size: 0.5em;
  margin: 20px 0;
}

.title {
  margin-top: 100px;
  color: #ffe57f;
}

.file-icon {
  margin: 0 0;
}

.file-label {
  border-radius: 10px;
}

.file {
  margin: 50px 0;
}
